.ryfty-name {
  color: #009f5b;
  font-size: 30px;
}
.hero-content {
  height: 89vh;
  display: grid;
  place-content: center;
  color: black;
  z-index: 0;
  text-align: center;
  width: 100%;
  position: fixed;
}

section.how-it-works {
  width: 100%;
  height: 100vh;
  background: #f7f9f8;
  padding: 24px;
}
section.main-body-sections {
  position: relative;
  z-index: 1;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
}
.top-actions {
  display: flex;
  justify-content: space-between;
  padding: 11px;
  align-items: center;
}
.hero-content h1 {
  font-weight: 900;
  font-size: 3.8em;
  color: #00915a;
}

.dot {
  background: transparent;
  width: 54px;
  height: 54px;
  border-radius: 54px 54px 27px 54px;
  border: 10px solid #009f5b;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 36px;
  font-weight: 900;
}

.landing-page img {
  width: 100%;
}

.hero-content p {
  font-size: 1.5em;
}
.hero-image img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(1.5);
  margin-top: 88vh;
}

.step img {
  width: 100%;
  height: 76vh;
  border-radius: 15px;
  filter: brightness(0.5);
  object-fit: cover;
}

.data-s {
  margin-top: -76vh;
  padding: 29px;
  position: relative;
  width: 100%;
  color: white;
}
.data-s h3 {
  font-size: 28px;
  font-weight: 700;
}

.data-s p {
  font-size: 18px;
  font-weight: 500;
}
.step {
  transition: all ease 0.5s;
}
.step:hover {
  transform: scale(1.01);
  transition: all ease 0.5s;
}
h2.howi {
  font-size: 65px;
  color: #00915a;
}

section.why-choose {
  background: #00915a;
  color: #f7f9f8;
  height: fit-content;
  padding: 23px;
}

h2.whyry {
  font-size: 54px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.feature img {
  width: 29%;
  border-radius: 35px;
  object-fit: cover;
}
.feature {
  display: flex;
  gap: 8px;
  width: 100%;
}

.feat {
  width: 23%;
}

section.cta {
  color: #f7f9f8;
  width: 100%;
  background: black;
  height: 102vh;
  display: grid;
  place-content: center;
}

section.cta h2 {
  font-size: 69px;
}

.feat h3 {
  font-size: 24px;
  margin-top: 14px;
}

section.cta button.btn.btn-primary {
  width: fit-content;
  background-color: white;
  color: black;
}

footer.footer {
  height: 29vh;
  background: #80808012;
  color: black;
  display: grid;
  place-content: center;
}

.hidden-image {
  position: fixed;
  z-index: 5;
  right: 0;
  bottom: -6px;
  width: 45%;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Slightly off-screen */
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.hidden-image.show {
  opacity: 1;
  transform: translateY(0); /* Move into place */
}

@media screen and (max-width: 600px) {
  .dot {
    background: transparent;
    width: 45px;
    height: 45px;
    border-radius: 45px 45px 19px 45px;
    border: 8px solid #009f5b;
  }
  .logo-container {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 29px;
    font-weight: 900;
  }
  .hero-content h1 {
    font-weight: 900;
    font-size: 1.8em;
    color: #00915a;
  }
  .hero-content p {
    font-size: 0.7em;
  }
  h2.howi {
    font-size: 31px;
    color: #00915a;
  }
  .step img {
    width: 86vw;
    height: 26vh;
    border-radius: 15px;
    filter: brightness(0.5);
    object-fit: cover;
  }
  .data-s {
    margin-top: -29vh;
    padding: 29px;
    position: relative;
    width: 100%;
    color: white;
  }
  .data-s h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .data-s p {
    font-size: 15px;
    font-weight: 500;
  }
  section.how-it-works {
    width: 100%;
    height: fit-content;
    background: #f7f9f8;
    padding: 24px;
  }
  .steps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 27px;
  }
  .step {
    transition: all ease 0.5s;
    height: 25vh;
  }
  h2.whyry {
    font-size: 26px;
  }
  .feat {
    width: 46%;
  }
  .feature img {
    width: 49%;
    border-radius: 22px;
    object-fit: cover;
    height: 100%;
  }
  .feat h3 {
    font-size: 16px;
    margin-top: 2px;
  }
  section.cta h2 {
    font-size: 32px;
  }

  section.cta {
    padding: 22px;
  }
}
