@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
a{
  color: inherit;
}
input{
  padding: 9px;
  background: #80808040;
  padding-left: 33px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: inherit;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

div#root {
  width: 100%;
}
button {
  border-radius: 27px;
  border: none;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all ease 0.25s;
  outline: none;
}
body{
  background: #f7f9f8;
  color: black;
}
button:hover {
  transform: scale(1.03);
  background: #00915a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* @media (prefers-color-scheme: dark) {
  body{
    background: white;
    color: black;
  }
} */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
